@import url(http://fonts.googleapis.com/css?family=Raleway:900);

body {
	font-family: Helvetica, sans-serif;

}
header {
	width: 100%;
	position: fixed;
	background: white;
	z-index: 2;
	top: 0;
}

#logo {
	width: 10%;
	padding-right: 1%;
	margin: 2% auto;
	display: block;
}

#headline {
	margin-top: 20%;
	width: 100%;
	text-align: center;
}

a:link {
	color: #3CA1DA;
}

a:hover {
	color: #CAE1FF;
}

a:active {
	color: #CAE1FF;
}

a:visited {
	color: #708090;
}

h3 {
	font-weight: lighter;
	font-size: 2.0em;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;

}

h4, h5, p, a {
	text-align: left;
	font-weight: lighter;
	text-decoration: none;
	color: #8C8C8C;
}

h4 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: thick;
	font-size: 2.5em;
	color: #5C5C5C;
}

p, a {
	font-size: 1.5em;
}

h1 {
	font-size: 2.5em;
	font-family: "Raleway", Helvetica, sans-serif;
	color: #5C5C5C;
}


h5 {
	font-size: 1.65em;
}
.post {
	max-width: 100%;


}

.featured {
	max-width: 100%;
	margin-top: 5% auto;
}

#end {
	padding-top: 7%;
	padding-bottom: 7%;
}

