@import url(http://fonts.googleapis.com/css?family=Raleway:900);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,400italic);

body {
	font-family: Helvetica, sans-serif;
	text-decoration: none;
}

h3, h5, p {
	color: #8C8C8C;
}

header {
	width: 100%;
	position: fixed;
	background: white;
	z-index: 2;
	top: 0;
}

#logo {
	width: 5%;
	padding-right: 1%;
	margin: 2% auto;
	display: block;
}

.container {
	margin: 0 auto;
	width: 90%;
	margin-top: 20%; 
}

#intro {
	text-align: center;
	margin-bottom: 30%;
}

#intro h1 {
	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 3.0em;
}

#intro h3 {
	font-family: "Arvo", serif;
	font-size: 2.75em;
	color: #8C8C8C;
}
#blogs {
	width: 100%;
	line-height: 50%;
	text-decoration: none;
	margin-bottom: 10%;
}

#blogs h3 {
	font-size: 1.5em;
	font-family: "Arvo", serif;
	color: #3CA1DA;
}

#blogs h2 {
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 2.5em;
	color: #5C5C5C;
	text-align: center;
}

.post {
	margin: 5% 0 5% 0;
	width: 100%;
	text-align: center;
}

.post a {
	color: #3CA1DA;
	text-decoration: none;
}

#bio {
	width: 100%;
}

#bio h2 {
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 2.5em;
	color: #5C5C5C;
	text-align: center;
}

#bio h3 {
	font-family: "Arvo", sans-serif;
	font-size: 2.25em;
	text-align: center;
	color: #3CA1DA;
}

#bio p {
	text-align: center;
}